body{
    background-color:lightcyan;
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:midnightblue;
}
.head{
    text-align: center;
}

* {
    box-sizing: border-box;
}
.column{
    float: left;
    width: 26.33%;
    text-align: center;
    padding: 5px;
    padding-left: 10%;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.info{
    font-size: large;
    text-align: center;
}
.info2{
    font-size: larger;
    text-wrap-style:pretty;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
.box{
    width: 150px;
    height: 150px;
    font-size: larger;
}
#box1{
    background-color: blue;
}
#box2{
    background-color: aquamarine;
}
#box3{
    background-color:lightcyan;
}